#create-point {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

#create-point header {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

#create-point header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#create-point header a svg {
  margin-right: 5px;
  color: var(--primary-color);
}

#create-point form {
  width: 100%;
  max-width: 730px;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

#create-point form h1 {
  font-size: 36px;
}

#create-point form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#create-point form fieldset legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#create-point form fieldset legend h2 {
  font-size: 24px;
}

#create-point form fieldset legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#create-point form .field {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 24px;
}

#create-point form .field-group {
  display: flex;
  flex: 1;
}

#create-point form .field input[type=text],
#create-point form .field input[type=email],
#create-point form .field input[type=number] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}