* {
  outline: none;
}

#create-point {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

#create-point header {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

#create-point header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#create-point header a svg {
  margin-right: 5px;
  color: var(--primary-color);
}

#create-point form {
  width: 100%;
  max-width: 730px;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

#create-point form h1 {
  font-size: 36px;
}

#create-point form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#create-point form fieldset legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#create-point form fieldset legend h2 {
  font-size: 24px;
}

#create-point form fieldset legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#create-point form .field {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 24px;
}

#create-point form .field-group {
  display: flex;
  flex: 1;
}

#create-point form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#create-point form .field-group .field + .field {
  margin-left: 24px;
}

#create-point form .field input[type='text'],
#create-point form .field input[type='email'],
#create-point form .field input[type='number'] {
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#create-point form .field input[type='number']::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#create-point form .field input::placeholder select::placeholder {
  color: #a0a0b2;
}

#create-point form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#create-point form .field :disabled {
  cursor: not-allowed;
}

#create-point .items-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#create-point .items-grid li {
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  height: 180px;
  border-radius: 8px;
  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#create-point .items-grid li.selected {
  background: #e1faec;
  border: 2px solid #34cb79;
}

#create-point .items-grid li span {
  flex: 1;
  margin-top: 12px;
  font-size: 14px;

  display: flex;
  align-items: center;
  color: var(--title-color);
}

#create-point .items-grid li.selected {
  background: #e1faec;
  border: 2px solid #34cb79;
}

#create-point form button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#create-point button:hover {
  background-color: #2fb86e;
}
